name: Release

on:
  push:
    tags:
      - "v*"

jobs:

  build-windows:
    runs-on: windows-latest

    outputs:
      exe_path: ${{ steps.output-path.outputs.exepath }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build Windows binary (GUI mode)
        env:
          CGO_ENABLED: 1
        run: |
          go build -s -w -v -o app-windows.exe -ldflags "-H=windowsgui" .
      
      - name: Output path
        id: output-path
        run: echo "exepath=app-windows.exe" >> $GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-windows
          path: app-windows.exe


  build-linux:
    runs-on: ubuntu-latest

    outputs:
      bin_path: ${{ steps.output-path.outputs.binpath }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Install Linux dependencies (GTK + WebKit)
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libgtk-3-dev
          sudo ln -s /usr/lib/x86_64-linux-gnu/pkgconfig/webkit2gtk-4.1.pc /usr/lib/x86_64-linux-gnu/pkgconfig/webkit2gtk-4.0.pc

      - name: Build Linux binary
        env:
          CGO_ENABLED: 1
        run: |
          go build -s -w -v -o app-linux .

      - name: Output path
        id: output-path
        run: echo "binpath=app-linux" >> $GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-linux
          path: app-linux


  release:
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest

    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: app-windows

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: app-linux

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: |
            app-windows.exe
            app-linux
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
