name: windows-build

on:
  push:
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build Windows binary
        env:
          CGO_ENABLED: 1
        run: |
          go env
          go build -v -o app-win.exe .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: app-win.exe
